---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

import SocialIcon from "@/components/social-icons/index.astro";
import RootLayout from "./RootLayout.astro";

interface Props {
  content: CollectionEntry<"authors">;
}

const { name, avatar, occupation, company, email, github, linkedin, twitter } =
  Astro.props.content;
---

<div class="divide-y divide-gray-200 dark:divide-gray-700">
  <div
    class="items-start space-y-2 xl:grid xl:grid-cols-3 xl:gap-x-8 xl:space-y-0"
  >
    <div class="flex flex-col items-center">
      {
        avatar && (
          <Image
            src={avatar}
            alt="avatar"
            width={110}
            height={110}
            class="h-35 w-35 rounded-full"
          />
        )
      }
      <h3 class="pt-2 text-xl font-bold leading-8 tracking-tight">
        {name}
      </h3>
      <div class="text-gray-500 dark:text-gray-400">{occupation}</div>
      <div class="text-gray-500 dark:text-gray-400">{company}</div>

      <a
        href="#"
        target="_blank"
        class="inline-flex items-center mt-2 px-2 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
        ><svg
          class="w-3.5 h-3.5 me-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"
          ></path>
          <path
            d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
          ></path>
        </svg> Download CV</a
      >
      <p class="text-sm mt-2">reach out: mustanjid[dot]se[at]gmail[dot]com</p>
    </div>

    <div
      class="prose max-w-none pt-2 dark:prose-invert xl:col-span-2 text-sm"
    >
      <slot />
      <!-- <div class="flex space-x-3 ml-2 mr-2 items-center justify-center text-xs">
        <SocialIcon kind="php" />
        <SocialIcon kind="laravel" />
        <SocialIcon kind="node" />
        <SocialIcon kind="react" />
        <SocialIcon kind="ms" />
        <SocialIcon kind="post" />
        <SocialIcon kind="robot" />
        <SocialIcon kind="report" />
      </div> -->
    </div>
  </div>
</div>
