---

import RootLayout from "./RootLayout.astro";




// const tags = await getCollection('tags');
// const posts = await getCollection('blog');

// function tagCount(slug: typeof CollectionEntry<'tags'>['slug']) {
//     return posts.filter((post) => post.data.tags.some(tag => tag.slug === slug)).length;
// }

---
<RootLayout title="Research">
<div class="space-y-2 pb-2 pt-0 md:space-y-2">
            <h1 class="text-2xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl sm:leading-10 md:text-2xl md:leading-14">
                Research Experinece
            </h1>
        </div>
        <div class="flex sm:space-x-10 sm:flex-wrap">
            <div class="max-h-screen h-full sm:flex flex-wrap bg-gray-50 dark:bg-gray-900/70 shadow-md pt-5 dark:shadow-gray-800/40 rounded w-1/3 overflow-auto">
                <div class="py-4 px-6">
                            <h3 class="mb-2 text-primary font-bold text-xl">Research Interests</h3> 
                            <h6 class="mt-2 text-primary text-base ">My primary research focuses on integrating <span class="font-semibold text-gray-900 underline dark:text-white decoration-blue-500">computer science</span>  with other <span class="font-semibold text-gray-900 underline dark:text-white decoration-blue-500">interdisciplinary</span> fields to extract meaningful patterns and produce <span class="font-semibold underline underline-offset-1 decoration-2 decoration-blue-400 dark:decoration-blue-600">knowledge </span> in the age of <span class="font-semibold underline underline-offset-1 decoration-2 decoration-blue-400 dark:decoration-blue-600">big data.</span>
                            </h6>
                            <h6 class="mt-2 text-primary text-base">
                                Lately, I've been employing state-of-the-art <span class="font-semibold underline underline-offset-1 decoration-2 decoration-blue-400 dark:decoration-blue-600">machine learning</span> techniques to accurately predict and detect malignant lung cancer in its early stages, 
                                thereby facilitating prevention and treatment assessment based on trustworthy and dependable datasets.
                            </h6>
                </div>

                <div class="px-6 w-full text-center">
                    <div class="">
                        <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Pattern Recognition</span>
                    </div>
                    
                </div>
                
                <div class="grid gap-4 grid-cols-2 py-4 px-6">
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Machine Learning</span>
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Data Mining</span>
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Bioinformatics</span>
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Systems Biology</span>
                </div>
                
            </div>
           
            <div class="w-2/3">     
<h1 class="mb-3 text-2xl font-semibold text-gray-900 dark:text-white">Publications</h1>
<h4 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Under Review</h4>
<ol class="space-y-3 text-sm list-decimal list-inside dark:text-gray-400">
    <li>
        An Integrated Bioinformatics and System Biology Approaches to Identify Synergistic Effects of COVID-19 on Physiological Disorders for discovering therapeutics targets.<span class="font-semibold text-gray-900 dark:text-white"> Md Al Mustanjid</span>, Saleheen Khan Sazol, S M Hasan Mahmud, Hosney Jahan, Dip Nandi, Md Habibur Rahman. (*Under Review)
        <span class="font-semibold text-gray-900 dark:text-white italic">Heliyon </span> 
    </li>

    <h4 class="mb-2 mt-2 text-lg font-semibold text-gray-900 dark:text-white">Journal</h4>
    <li>
        <span class="font-semibold text-gray-900 dark:text-white"> Al-Mustanjid, M.,</span> Mahmud, S. H., Akter, F., Rahman, M. S., Hossen, M. S., Rahman, M. H., & Moni, M. A. (2022). Systems biology models to identify the influence of SARS-CoV-2 infections to the progression of human autoimmune diseases.<span class="font-semibold text-gray-900 dark:text-white italic"> Informatics in medicine unlocked, </span> 32, 101003. 
        <span class="ml-2 mt-2">
            <a href="https://doi.org/10.1016/j.imu.2022.101003" class="font-medium text-sm text-blue-600 dark:text-blue-500 hover:underline underline">PDF</a>
        </span>
       
    </li>

    <li>
        Mahmud, S. H., <span class="font-semibold text-gray-900 dark:text-white"> Al-Mustanjid, M.,</span> kter, F., Rahman, M. S., Ahmed, K., Rahman, M. H., ... & Moni, M. A. (2021). Bioinformatics and system biology approach to identify the influences of SARS-CoV-2 infections to idiopathic pulmonary fibrosis and chronic obstructive pulmonary disease patients. <span class="font-semibold text-gray-900 dark:text-white italic">Briefings in bioinformatics, </span>   22(5), bbab115.
        <span class="ml-2 mt-2">
            <a href="https://doi.org/10.1093/bib/bbab115" class="font-medium text-sm text-blue-600 dark:text-blue-500 hover:underline underline">PDF</a>
        </span>
       
    </li>

    <li>
        <span class="font-semibold text-gray-900 dark:text-white">Al-Mustanjid, M.,</span> Mahmud, S. H., Royel, M. R. I., Rahman, M. H., Islam, T., Rahman, M. R., & Moni, M. A. (2020). Detection of molecular signatures and pathways shared in inflammatory bowel disease and colorectal cancer: a bioinformatics and systems biology approach. <span class="font-semibold text-gray-900 dark:text-white italic"> Genomics, </span>112(5), 3416-3426.
        
        <span class="ml-2 mt-2">
            <a href="https://www.sciencedirect.com/science/article/pii/S0888754320300562" class="font-medium text-sm text-blue-600 dark:text-blue-500 hover:underline underline">PDF</a>
        </span>
       
    </li>

    <li>
        <span class="font-semibold text-gray-900 dark:text-white"> Arif, A. M.,</span> Mandal, C., & Rahman, M. H. (2019). Design of a common pathway drug for all types of cardiovascular diseases: A network biology approach.<span class="font-semibold text-gray-900 dark:text-white italic"> Network Biology, </span> 9(2), 28-41. 
        <span class="ml-2 mt-2">
            <a href="http://www.iaees.org/publications/journals/nb/articles/2019-9(2)/design-of-a-common-pathway-drug-for-cardiovascular-diseases.pdf" class="font-medium text-sm text-blue-600 dark:text-blue-500 hover:underline underline">PDF</a>
        </span>
       
    </li>


    <h4 class="mb-2 mt-2 text-lg font-semibold text-gray-900 dark:text-white">Conferece Proceedings</h4>
    <li>
        Rahman, M. H., Rahman, Z.,<span class="font-semibold text-gray-900 dark:text-white"> Md Al Mustanjid </span> Uddin, M. S., & Jany, M. H. R. (2020). Software Process Improvement Based on Defect Prevention Using Capability and Testing Model Integration in Extreme Programming. In Cyber Security and Computer Science: Second EAI International Conference, ICONCS 2020, Dhaka, Bangladesh, February 15-16, 2020, Proceedings 2 (pp. 270-279).
        <span class="font-semibold text-gray-900 dark:text-white italic"> Springer International Publishing. </span> 
        <span class="ml-2 mt-2">
            <a href="https://link.springer.com/chapter/10.1007/978-3-030-52856-0_21" class="font-medium text-sm text-blue-600 dark:text-blue-500 hover:underline underline">PDF</a>
        </span>
       
    </li>

    <li>
       Hossen, M. S., Rahman, M. H.,<span class="font-semibold text-gray-900 dark:text-white"> Al-Mustanjid, M. </span> Nobin, M. A. S., & Habib, M. A. (2019, December). Enhancing Quality of Service in SDN based on Multi-path Routing Optimization with DFS. In 2019 International Conference on Sustainable Technologies for Industry 4.0 (STI) (pp. 1-5).
        <span class="font-semibold text-gray-900 dark:text-white italic">IEEE </span> 
        <span class="ml-2 mt-2">
            <a href="https://doi.org/10.1109/STI47673.2019.9068057" class="font-medium text-sm text-blue-600 dark:text-blue-500 hover:underline underline">PDF</a>
        </span>
    </li>

    <h4 class="mb-2 mt-2 text-lg font-semibold text-gray-900 dark:text-white">Undergraduate Thesis</h4>
<li>
    Risk Assessment and Drug Design using R: Heart Diseases.
     <span class="ml-2 mt-2">
         <a href="http://dspace.daffodilvarsity.edu.bd:8080/bitstream/handle/123456789/2992/P12427%20%2815%25%29.pdf?sequence=1&isAllowed=y" class="font-medium text-sm text-blue-600 dark:text-blue-500 hover:underline underline">PDF</a>
     </span>
     <span class="ml-2 mt-2">
        <a href="https://bitbucket.org/mustanjid/risk-assessment-and-drug-design-using-r-heart-diseases" class="font-medium text-sm text-blue-600 dark:text-blue-500 hover:underline underline">SOURCE CODE</a>
    </span>
 </li>

</ol>

            </div>
            
        </div>

</RootLayout>
